body {
    text-align: center;
    color: rgb(24, 31, 31);
    background-color: white;
}
h1 {
    background-color: aquamarine;
}
h2 {
    font-size: 16px;
    background-color: aquamarine;
}
div {
    text-align: center;
    color: aqua;
    background-color:rgb(24, 31, 31);
}
.Page2Header {
    font-size: 30px;
    color:rgb(24, 31, 31);
    background-color: bisque;
}

a {
    color: bisque;
    background-color:rgb(24, 31, 31);
}